<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table border="1">
    <tr>
        <th>name</th>
        <th>id</th>
        <th>age</th>
        <th>email</th>
    </tr>
    <tr>

        <td><p th:text="${user.getId()}">VALUE</p></td>
        <td><p th:text="${user.getName()}">VALUE</p></td>
        <td><p th:text="${user.getAge()}">VALUE</p></td>
        <td><p th:text="${user.getEmail()}">VALUE</p></td>
    </tr>
</table>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>